@import "../../scss/variables";

.login {
  margin: $base-margin * 4 0;
  .logo {
    margin-bottom: $base-margin * 5;
  }
  .login-container {
    display: flex;
    align-items: center;
    .login-img img{
      width: 95%;
    }
  }
  h1 {
    color: $primary;
    margin-bottom: $base-margin / 2;
    font-size: $font-size-lg;

  }
  p {
    color: $gray;
    margin-top: 0;
    margin-bottom: $base-margin * 2;
    font-size: $base-font-size;
  }

  form {
    margin-left: auto;
  }

  label {
    display: block;
  }

  input, button {
    width: 298px;
    margin: $base-margin 0;
    height: 32px;
    border: $base-border-thickness soild black;
    padding: 0 $base-padding / 2;
  }

  .input-div {
    position: relative;
    width: 298px;
    span {
      position: absolute;
      top: 40%;
      right: 0px;
      font-size: $font-size-xs;
      text-transform: uppercase;
      color: $blue;
      cursor: pointer;
    }
  }
}