@import "../../scss/variables";

.user-details  {
  button.back {
    background: none;
    border: none;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
  }
  div.btn-wrap {
    button {
      width: 150px;
      padding: $base-padding 0;
      margin-bottom: -$base-margin * 2;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .tab-head {
    display: flex;
    button {
      border: none;
      background: none;
      font-family: 'Work Sans', sans-serif;
      font-size: $base-font-size - 4;
      cursor: pointer;
      border-bottom: 1px solid $white;
    }
    span {
      border: 0;
    }
  }
  .tab-head li:nth-child(1) > button {
    border-bottom: 1px solid $blue;
  }
  .naira {
    text-decoration: line-through;
  }
  span {
    border-right: $base-border-thickness + 1 solid $black;
    .avatar {
      width: 90px;
      height: 90px;
      border-radius: 50px;
    }
  }
  .info {
    ul {
      border-bottom: $base-border-thickness solid $black;
    }
    div {
      font-size: $base-font-size - 4;
    }
    h5 {
      font-weight: 500;
      font-size: $font-size-xs + 2;
    }
    p {
      font-weight: 400;
      text-transform: uppercase;
    }
    h5.email, p.wrap {
      display: -webkit-box;
      -webkit-line-clamp: 0.5;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
}

@media (max-width: 870px) {
  .tab-head {
    overflow: scroll;
  }
}

@media (max-width: 540px) {
  .back {
    .back {
      display: none;
    }
  }
  .user-details {
    div.btn-wrap {
      button {
        width: 125px;
        img {
          margin-left: 0;
        }
      }
    }
  }
  .btn-navi {
    display: block;
  }
}