.card {
  display: block;
  padding: $base-padding * 2;
  box-shadow: $box-shadow-lg;
  background: $white;
  width: 150px;

  .card-img {
    width: 100%;
  }
  .card-body {
    font-size: $font-size-sm;
    color: $gray;
    text-transform: uppercase;
  }
  .card-h {
    font-weight: bold;
    font-size: $font-size-lg - 6;
  }
}