.card {
  display: block;
  padding: $base-padding * 2;
  box-shadow: $box-shadow-lg;
  background: $white;

  .card-img {
    width: 40px;
    margin-bottom: 8px;
    img {
      width: 100%;
    }
  }
  .card-body {
    font-size: $font-size-sm;
    color: $gray;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 14px;
  }
  .card-h {
    font-weight: bold;
    font-size: $font-size-lg - 6;
    color: $primary;
  }
}