@import "../scss/variables";

.user {
  .wrapper {
    // position: relative;
  }
  .filter {
    position: absolute;
    top: 50px;
    left: 10px;
    box-shadow: $box-shadow-lg;
    button {
      width: 100px;
    }
  }
}