.navbar {
  .logo img {
    width: 100px;
  }
  .avatar {
    width: 40px;
  }
  li img, li p {
    cursor: pointer;
  }
}

button.border-half-radius {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 34px;
}

input.form-input-half {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}