.navbar {
  .logo {
    width: 100px;
  }
  .logo img {
    width: 100%;
  }
}

button.border-half-radius {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 34px;
}

input.form-input-half {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}