// theme colors
$primary: #213F7D;
$blue: #39CDCC;
$gray: #545F7D;

// color palette
// 2
// spacing
$base-padding: 16px;
$base-margin: 16px;

// borders
$base-border-thickness: 2px;
$base-border-radius: 8px;

// font-sizes
$base-font-size: 20px;