@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800&display=swap');

html {
  scroll-behavior: smooth;
}
  
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  background: $light;
  overflow-x: auto;
}
  
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
  
li {
  list-style: none;
}

.sidebar {
  width: 300px;
}

.sidebar li {
  border-left: 2px solid #fff;
}

.sidebar li:nth-child(1) {
  border-left: 3px solid $blue;
  background-color: #9ce6e6;
}

@media (max-width: 800px) {
  .sidebar {
    width: 50px;
    overflow: hidden;
  }
}

table {
  border-collapse: collapse;
}

.table {
  overflow-x: scroll;
  box-shadow: $box-shadow-lg;
  padding: $base-padding * 2 $base-padding * 3;
  th, td {
    margin-right: $base-margin;
  }
  tr {
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);
  }
  .tr {
    td {
      .name, .number, .date {
        width: 140px;
      } 
      .email, .org{
        display: inline-block;
        width: 200px;
      }
      p.btn-p {
        display: block;
        width: initial;
      }
    }
  }
  tr:nth-child(1) {
    border-bottom: none;
  }
  th {
    img {
      margin-bottom: -$base-margin / 4;
      margin-left: $base-margin / 2;
    }
  }
}

@media (max-width: 1304px) {
  .table {
    max-width: 600px;
  }
}

.user { 
  th {
    cursor: pointer;
  }
}

.align-left, th {
  text-align: left;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  img {
    width: 50px;
  }
}

.error p {
  cursor: pointer;
}

.loading {
  animation: rotate 2s ease-in-out infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}