@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;700;800&display=swap');

html {
  scroll-behavior: smooth;
}
  
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
  
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
  
li {
  list-style: none;
}

.sidebar {
  width: 300px;
}

.sidebar li {
  border-left: 2px solid #fff;
}

.sidebar li:nth-child(1) {
  border-left: 3px solid $blue;
  background-color: #9ce6e6;
}

@media (max-width: 645px) {
  .sidebar {
    width: 50px;
    overflow: hidden;
  }
}

table {
  width: 100%;
}