@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800&display=swap');

html {
  scroll-behavior: smooth;
}
  
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  background: $light;
  overflow-x: auto;
}
  
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
  
li {
  list-style: none;
}

.sidebar {
  min-width: 230px;
}

.sidebar li {
  border-left: 2px solid #fff;
}

.sidebar li:nth-child(1) {
  border-left: 3px solid $blue;
  background-color: #9ce6e6;
}

@media (max-width: 800px) {
  .sidebar {
    min-width: 45px;
    overflow: hidden;
  }
}

table {
  border-collapse: collapse;

}

.table {
  display: flex;
  // width: 980px;
  box-shadow: $box-shadow-lg;
  padding: $base-padding * 2 $base-padding * 3;
  overflow-x: hidden;
  th, td {
    margin-right: $base-margin;
  }
  tr {
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);
  }
  tr:nth-child(1) {
    border-bottom: none;
  }
}

.align-left, th {
  text-align: left;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  img {
    width: 50px;
  }
}

.error p {
  cursor: pointer;
}