// theme colors
$primary: #213F7D;
$blue: #39CDCC;
$gray: #545F7D;
$white: #ffff;
$light: #FBFBFB;

// color palette
$colors: (
  "primary": $primary,
  "blue": $blue,
  "gray": $gray,
  "light": #FBFBFB,
  "white": #fff,
  "pending": #E9B200,
  "blacklist": #E4033B,
  "active": #39CD62

);

// spacing
$base-padding: 8px;
$base-margin: 16px;

// borders
$base-border-thickness: 2px;
$base-border-radius: 8px;

// box shadow
$base-box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
$box-shadow-lg: 3px 5px 20px rgba(0, 0, 0, 0.04);

// font-sizes
$base-font-size: 20px;
$font-size-xs: $base-font-size - 8;
$font-size-sm: $base-font-size - 6;
$font-size-md: $base-font-size;
$font-size-lg: $base-font-size + 4;
$font-size-xl: $base-font-size + 10;